@import url('https://fonts.googleapis.com/css?family=Tilt+Neon&display-swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tilt Neon', sans-serif;
}

p {
    text-align: center;
    color: rgb(185, 255, 161);
   
    margin-top: 5px;
    margin-left: -8px;
    margin-right: -8px;
    text-align: center;
    padding: 5px;
}

h1{
    color: rgb(224, 255, 223);
    background-color: rgb(4, 71, 9);
    border: 5px solid rgb(0, 92, 15);
    margin-top: 20px;
    margin-left: -8px;
    margin-right: -8px;
    text-align: center;
    padding: 5px;
}

span {
    color: aliceblue;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(109, 76, 0);
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    text-align: center;
    padding: 5px;
}

body {
    overflow-x: hidden;
}

img{
    border: 2px solid rgb(109, 76, 0);
}